<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/base-style.css">
    <% if(loadMenuBar === true) { %>
    <link rel="stylesheet" href="css/header-menu.css">
    <% } %>
    <% for(let i=0; i < styleList.length; ++i) { %>
        <link rel="stylesheet" href="css/<%= styleList[i] %>">
    <% } %>
    <link rel="shortcut icon" type="image/jpg" href="resources/favicon.ico" />
</head>

<body>
    <header class="logo-header">
        <div class="logo">
            <img src="resources/logo.png" alt="logo">
            <h1 class="title"><b>Collaborative Whiteboard  </b></h1>
        </div>
        <% if(loadMenuBar === true) { %>
        <div class="menu-bar">
            <a href="/log-out">Log Out</a>
            <a href="/home" <% if(currentPageLink == "home") { %> class="current-page-link" <% } %> >Home</a>
            <a href="/account" <% if(currentPageLink == "account") { %> class="current-page-link" <% } %>>Account</a>
        </div>
        <% } %>
    </header>
        <% for(let i = 0; i<errors.length; ++i) { %>
            <div class="index-error-message">
                <span class="close-error-button" onclick="this.parentElement.style.display='none';">&times;</span>
                <%= errors[i] %>
            </div>
        <% } %>
        <div class="container" id="<%= containerId %>">
            <%- body -%>
        </div>
 
</body>

</html>